---
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
const { slug } = Astro.props;
---

<header>
	<nav>
		<div class="breadcrumbs">
		    <a href="/">frankharkins.github.io</a>
			/
			<a href="/blog">blog</a>
			{ slug && (<>/</> <a href={slug}>{slug}</a>) }
		</div>
	</nav>
	<ThemeSwitcher />
</header>
<style>
    header {
        display: flex;
        justify-content: space-between;
    }
    nav {
        font-size: 0.8rem;
    }
    a {
        color: var(--color-body);
        text-decoration: none;
    }
    header {
        margin-bottom: 4rem;
    }
</style>
